.app-container {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* margin: 50px; */
  gap: 100px;

  padding-top: 50px;
}

.welcome {
  max-width: 500px;
}

.welcome img{
  width: 100%;
  max-width: 400px;
}

.welcome h1 {
  color: rgb(0,136,58);
  margin-bottom: 15px;
}

.welcome p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 50px;
  text-wrap: wrap !important;
}

.create-account{
  background-color: rgb(0,136,58);
  padding: 10px 14px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.create-account:hover{
  background-color: rgb(4, 183, 81);
}


@media (max-width: 768px) {
  .dash{
    display: flex;
    flex-direction: column;
  }
  .main-section{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

  }

  .app-container{
    width: 100%;
    padding: 10px;
  }
  .welcome img{
    width: 200px; 
  }
  /* .welcome p{
    max-width: 300px;
  }
  .welcome h1{
    max-width: 300px;
  } */
}

@media (max-width: 576px) {
    .app-container{
      /* width: 100%; */
      padding: 0px;
      padding-left: 6px;
    }
}